<!DOCTYPE html>
<html>
  <head>
    <title>
      Apply for {{job['Title']}}
    </title>
  </head>
  <body>
    <div class="container">
      <div class="mt-4 mb-4">
        <h4>Application Form</h4>

      <form>
        <div style="font-size:18px;" class="mb-2">
        <label>Full Name</label><br>
        <input type="text" name="full_name"><br>
        </div>

        <div style="font-size:18px;" class="mb-2">
        <label>Email ID</label><br>
        <input type="text" name="full_name"><br>
        </div>

        <div style="font-size:18px;" class="mb-2">
        <label>LinkedIn URL</label><br>
        <input type="text" name="full_name"><br>
        </div>

        <input type="submit">
      </form>
      </div>
    </div>
  </body>
</html>